{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ _('Login') }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="main_content">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <br>
    </div>
    <p>Forgot your password? <a href=>{{ _('Click here to reset it') }}</a>.</p>
    <p>New user? <a href="{{ url_for('auth.signup') }}">{{ _('Click here to register') }}</a>.</p>
</div>
{% endblock %}