<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
</head>
<body>
    <div id="wrapper">
        <div id="search">
            <form class="search_form">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search_input" placeholder="Search..." />
            </form>
        </div>
        <div id="random">
            <h2>Random</h2>
            <ul id="random_content">
                {% for i in rand %}
                <li>
                    <p>
                        author:{{ i['author'] }}<br>
                        <a href="{{ i['url'] }}">{{ i['name'] }}</a>
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="main">
            <button id = "sort_button">sort</button>
            <button id = "add_button">新增</button>
            <ul id="main_content">
                {% for row in rows %}
                    <li>
                        <a href="{{ row['url'] }}">{{ row['name'] }}</a>
                        <div id="{{ row['mid'] }}">
                            <button class="modify">修改</button>
                            <button class="delete">刪除</button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <form id="light" class="white_content" method="POST" action="/">
            {{form.hidden_tag()}}
            {{form.mid}}
            <p>{{form.name.label}} {{form.name}}</p>
            <p>{{form.author.label}} {{form.author}}</p>
            <p>{{form.group.label}} {{form.group}}</p>
            <p>{{form.url.label}} {{form.url}}</p>
            <p>{{form.pages.label}} {{form.pages}}</p>
            <p>{{form.submit}}
                <button id="modify_cancel">取消</button>
            </p>
        </form>
        <div id="fade" class="black_overlay"></div>
        <dialog id="delete_dialog">
            <input id="delete_mid" type="hidden">
            <p><label>確認刪除?</label></p>
            <menu>
              <button id="delete_confirm">確定</button>
              <button id="delete_cancel">取消</button>
            </menu>
        </dialog>
    </div>
</body>
