{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Permission{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/permission.css') }}">
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ _('UserPermission') }}</h1>
</div>
<div class="main_content">
    <ul id="user_content">
        <div class="permission_field">
                <p>{{ _('Account') }}</p>
                <p>Email</p>
                <p>{{ _('confirmed') }}</p>
                <p>{{ _('UserPermission') }}</p>
        </div>
        {% for user in users %}
        <li>
            <div class="permission_field" id="{{ user['id'] }}">
                <p>{{ user['username'] }}</p>
                <p>{{ user['email'] }}</p>
                <p>{{ user['confirmed'] }}</p>
                <p>{{ user['permission_name'] }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}