{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Role{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/role.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static', filename='js/role.js')}}"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 id="title">{{ _('UserRole') }}</h1>
</div>
<div class="main_content">
    <ul id="user_content">
        <div class="role_field">
                <p>{{ _('Username') }}</p>
                <p>{{ _('Account') }}</p>
                <p>Email</p>
                <p>{{ _('confirmed') }}</p>
                <p>{{ _('UserRole') }}</p>
                <p>{{ _('Operations') }}</p>
        </div>
        {% for user in users.items %}
        <li>
            <div class="role_field">
                <input class="user_id" type="hidden" value="{{ user['id'] }}">
                <input class="role_id" type="hidden" value="{{ user['role_id'] }}">
                <p class="username_p">{{ user['username'] }}</p>
                <p class="account_p">{{ user['account'] }}</p>
                <p class="email_p">{{ user['email'] }}</p>
                <p class="confirmed_p">{{ user['confirmed'] }}</p>
                <p class="role_p">{{ user['role_name'] }}</p>
                <button class="func_btn"><i class='fas fa-edit'></i></button>
            </div>
        </li>
        {% endfor %}
    </ul>
    {{ macros.pagination_func(users, 'role.UserRole') }}
    <dialog id="modify_role_dialog">
        <div class="dialog_title">
            <h1>{{ _('Modify the Data') }}</h1>
            <button class="modify_role_dialog_cancel func_btn"><i class='fas fa-times'></i></button>
        </div>
        <form id="modify_role_dialog_div" method="POST" action="{{ url_for('role.UserRole') }}">
            {{form.hidden_tag()}}
            <div class="input_container">
                {{form.username}}
                {{form.username.label}}
            </div>
            <div class="input_container">
                {{form.userrole}}
                {{form.userrole.label}}
            </div>
            <div class="form_footer">
                {{form.submit}}
                {{form.delete}}
            </div>
        </form>
    </dialog>
</div>
{% endblock %}