{% for row in rows %}
<li>
    <a href="{{ row['url'] }}" class="manga_url"><p>{{ row['name'] }}</p></a>
    <div id="{{ row['mid'] }}">
        {% if current_user.is_authenticated %}
            {% if current_user.can(Permission.MODIFY) %}
                <button class="modify func_btn"><i class='fas fa-pen'></i></button>
            {% endif %}
            {% if current_user.is_administrator() %}
                <button class="delete func_btn"><i class='fas fa-times'></i></button>
            {% endif %}
        {% endif %}
    </div>
</li>
{% endfor %}