{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}{% if PageType == 'upload' %}Upload{% else %}Liked{% endif %}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_content.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static', filename='js/user_content.js')}}"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 id="title">{% if PageType == 'upload' %}{{ _('Upload Record') }}{% else %}{{ _('Liked recently') }}{% endif %}</h1>
</div>
<div class="main_content">
    <div class="ul_content">
        <div class="search_content">
            <form method="POST" action="{{ url_for('user.UserContent', PageType=PageType, account=account, SortType=SortType) }}">
                {{form2.hidden_tag()}}
                {{ form2.sort_choice(**{"onchange":"this.form.submit()"}) }}
            </form>
            {% if PageType == 'upload' %}
                {{ macros.pagination_func(upload, 'user.UserContent', PageType, account, SortType) }}
            {% else %}
                {{ macros.pagination_func(liked, 'user.UserContent', PageType, account, SortType) }}
            {% endif %}
        </div>
        <ul class="manga_content">
            {% if PageType == 'upload' %}{% include 'your_upload.html' %}{% else %}{% include 'liked_recently.html' %}{% endif %}
        </ul>
    </div>
    {% if current_user.is_administrator() %}
        <dialog id="delete_dialog">
            <form method="POST" action="{{ url_for('user.UserContent', PageType=PageType, account=account, SortType=SortType) }}">
                {{form.hidden_tag()}}
                <label><i class="fas fa-exclamation-triangle"></i>{{ _('confirm the deletion?') }}</label>
                <div class="delete_div">
                    {{form.delete}}
                    <input id="delete_cancel" type="submit" value="{{ _('Cancel') }}">
                </div>
            </form>
        </dialog>
        <dialog id="modify_dialog">
            <div class="form_title">
                <h1 class="form_h1">{{ _('Modify the Data') }}</h1>
                <button class="modify_cancel func_btn"><i class="fas fa-times"></i></button>
            </div>
            <form id="form_content" method="POST" action="{{ url_for('user.UserContent', PageType=PageType, account=account, SortType=SortType) }}">
                {{form1.hidden_tag()}}
                <div id="form_container">
                    <div class="input_container">
                        {{form1.name}}
                        {{form1.name.label}}
                    </div>
                    <div class="input_container">
                        {{form1.author}}
                        {{form1.author.label}}
                    </div>
                    <div class="input_container">
                        {{form1.group}}
                        {{form1.group.label}}
                    </div>
                    <div class="input_container">
                        {{form1.url}}
                        {{form1.url.label}}
                    </div>
                    <div class="input_container">
                        {{form1.pages}}
                        {{form1.pages.label}}
                    </div>
                    <div class="form_footer">
                        {{form1.submit}}
                    </div>
                </div>
            </form>
        </dialog>
    {% endif %}
</div>
{% endblock %}