{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Upload{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_content.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static', filename='js/user_content.js')}}"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 id="title">{{ _('Upload Record') }}</h1>
</div>
<div class="main_content">
    <div class="ul_content">
        <div class="search_content">
            <select id="sorted">
                <option value=1 {% if SortType == 1 %} selected {% endif %}>{{ _("Likes(Highest)") }}</option>
                <option value=2 {% if SortType == 2 %} selected {% endif %}>{{ _("Likes(Lowest)") }}</option>
                <option value=3 {% if SortType == 3 %} selected {% endif %}>{{ _("Date Modified(Newest)") }}</option>
                <option value=4 {% if SortType == 4 %} selected {% endif %}>{{ _("Date Modified(Oldest)") }}</option>
                <option value=5 {% if SortType == 5 %} selected {% endif %}>{{ _("Date created(Newest)") }}</option>
                <option value=6 {% if SortType == 6 %} selected {% endif %}>{{ _("Date created(Oldest)") }}</option>
            </select>
            {{ macros.pagination_func(upload, 'user.UserUpload', account, SortType) }}
        </div>
        <ul class="manga_content">
            {% include 'your_upload.html' %}
        </ul>
    </div>
    {% if user == current_user or current_user.is_administrator() %}
        <dialog id="delete_uc_dialog">
            <form method="POST" action="{{ url_for('user.UserUpload', account=account, SortType=SortType) }}">
                {{form.hidden_tag()}}
                <label><i class='fas fa-exclamation-triangle'></i>{{ _('confirm the deletion?') }}</label>
                <div class="delete_uc_div">
                    {{form.delete}}
                    <input id="delete_uc_cancel" type="submit" value="{{ _('Cancel') }}">
                </div>
            </form>
        </dialog>
        <dialog id="modify_uc_dialog">
            <div class="dialog_title">
                <h1>{{ _('Modify the Data') }}</h1>
                <button class="modify_uc_dialog_cancel func_btn"><i class='fas fa-times'></i></button>
            </div>
            <form id="modify_uc_dialog_div" method="POST" action="{{ url_for('user.UserUpload', account=account, SortType=SortType) }}">
                {{form1.hidden_tag()}}
                <div class="input_container">
                    {{form1.name}}
                    {{form1.name.label}}
                </div>
                <div class="input_container">
                    {{form1.author}}
                    {{form1.author.label}}
                </div>
                <div class="input_container">
                    {{form1.group}}
                    {{form1.group.label}}
                </div>
                <div class="input_container">
                    {{form1.url}}
                    {{form1.url.label}}
                </div>
                <div class="input_container">
                    {{form1.pages}}
                    {{form1.pages.label}}
                </div>
                <div class="form_footer">
                    {{form1.submit}}
                </div>
            </form>
        </dialog>
    {% endif %}
</div>
{% endblock %}