h1 {
    display: flex;
    justify-content: center;
}

.main_content {
    display: grid;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    width: auto;
}

.control-label {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#submit {
    display: flex;
    justify-content: center;
    margin: auto;
}