/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   Reset CSS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 整體*/
#wrapper {
    height: 100vh;
    margin: 0 auto;
    background-color: #F5F5F5;
}

#search {
    position: fixed;
    height: 5%;
    width: 100%;
    background-color: #000000;
}

#block {
    height: 5%;
}

#random {
    margin:5px auto 5px auto;
    height: 20%;
    width: 80%;
    border-radius: 4px;
    background: #fff;

}

#main {
    margin:0 auto;
    height: 75%;
    width: 80%;
    border-radius: 4px;
    background: #fff;
}

.search_form{
    text-align: right;
    position: relative;
}

.search_form input#search_input{
    width: 200px;
    height: 35px;
    background: white;
    font-size: 10pt;
    padding-left: 45px;
    border-radius: 5px;
}

.search_form .icon{
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
    color: #4f5b66;
}

#random_content {
    height: 100%;
    display: flex;
    align-items: center;
}

h2 {
    border-left: 5px solid #001F3F;
    background-color: #F1F1F1;
    font-weight: bold;
    padding-left: 10px; /* 左邊間距 */
    padding-top: 2px; /* 上面間距 */
    padding-bottom: 2px; /* 下面間距 */
}

a {
    font-weight: bold;
    text-decoration:none;
}
a:link{
    //設定還沒有瀏覽過的連結
    text-decoration:none;
}
a:hover {
    //設定滑鼠移經的連結
    color:red;
}

#random_content li {
    text-align: center;
    float: left;
    width: 20%;
}

/* 平均分配欄寬*/
#main_content li {
    display: flex;
    justify-content: space-between;
    padding-left: 5px; /* 左邊間距 */
    padding-top: 2px; /* 上面間距 */
    padding-bottom: 2px; /* 下面間距 */
}

#main_content li button {
    width: 30px;
    height: 30px;
    background-color:#fff;
    border: none;
    border-radius: 3px;
    margin-right: 15px;
}

#iconBtnRow {
    display: flex;
    justify-content: space-between;
}

.iconBtn {
    width: 30px;
    height: 30px;
    background-color:#fff;
    border: none;
    border-radius: 3px;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=88);
}

.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 20px;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.input-container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 1em;
}

.input-container > input {
    border: none;
    border-bottom: 1px solid #D8D8D8;
    font-size: 16px;
    padding: 4px 0;
    width: 40%;
}

.input-container > label {
	color: #D8D8D8;
}

.input-container > input:focus + label {
    /* targets the label when the input receives focus */
  	color: black;
}

.input-container > input:focus {
    /* targets the label when the input receives focus */
    border-bottom-color: black;
    outline: none;
    border-bottom-width: 2px;
}

.form_footer {
    display: flex;
    justify-content: flex-end;
}