/* 整體*/
html {
    height: 100%;
}

.container {
    width: 100%;
    padding: 0;
}

#wrapper {
    height: 100vh;
    margin: 0 auto;
    background-color: #F5F5F5;
}

a {
    font-weight: bold;
    text-decoration:none;
    justify-content: center;
    display: flex;
    align-items: center;
}

a:link{
    text-decoration:none;
}

.manga_url:hover {
    color:red;
}

h1 {
    font-size: 15pt;
    font-weight: bold;
    padding-left: 10px; /* 左邊間距 */
    padding-top: 2px; /* 上面間距 */
    padding-bottom: 2px; /* 下面間距 */
}

h2 {
    border-left: 5px solid #001F3F;
    font-weight: bold;
    padding-left: 10px; /* 左邊間距 */
    padding-top: 2px; /* 上面間距 */
    padding-bottom: 2px; /* 下面間距 */
    margin: 0 auto;
    width: 80%;
}

.alert {
    margin-top: 20px;
}


/*search section*/
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.search_div {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.search_div div i {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: transparent;
}

.search_div_url {
    display: flex;
    color: #FFFFFF;
    font-size: 13pt;
    font-weight: bold;
    align-items: center;
}

.home_div {
    font-size: 27pt;
}

.search_form{
    text-align: right;
    position: relative;
}

.search_form input#search_input{
    width: 200px;
    height: 35px;
    background: white;
    font-size: 10pt;
    padding-left: 45px;
    border-radius: 5px;
}

.search_form .icon{
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
    color: #4f5b66;
}

.user_div {
    display: flex;
}

.user_div i {
    font-size: 15pt;
    padding-bottom: 5px;
    padding-left: 4px;
}

.user_detail {
    border: #ccc 1px solid;
    display: none;
    font-size: 13px;
    position: absolute;
    right: 0px;
    top: 106%;
    border-radius: 3px;
}

.user_detail a {
    background-color: #fff;
    color: #333;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
}

.user_detail li {
    border-bottom: #ccc 1px solid;
}

.user_detail a:hover {
    background-color: #EEFEF3;
}


/*random section*/
#random {
    margin:0 auto 5px auto;
    height: 20%;
    width: 80%;
    border-radius: 4px;
    background: #fff;
}

#random_content {
    height: 100%;
    display: flex;
    align-items: center;
}

#random_content li {
    text-align: center;
    float: left;
    width: 20%;
    height: 100%;
    align-items: center;
    display: flex;
}

#random_content li p {
    width: 100%;
}

#random_content li:hover {
    background-color: #EEFEF3;
}


/*main section*/
#main {
    margin:0 auto;
    height: 75%;
    width: 80%;
    border-radius: 4px;
    background: #fff;
    border: solid 1px #ECECEC;
}

#iconBtnRow {
    display: flex;
    justify-content: space-between;
    background-color: #BFC0BF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.iconBtn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
}

#main_content li {
    display: flex;
    justify-content: space-between; /* 平均分配欄寬*/
    padding-left: 5px; /* 左邊間距 */
    height: 45px;
    border-top: solid 1px #ECECEC;
}

#main_content li:hover {
    background-color: #EEFEF3;
}

#main_content div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_content li button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    margin-right: 15px;
}


/*add and modify form*/
#overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=88);
}

#form_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 20px;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

#form_container {
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 3em;
}

.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 1em;
    width: auto;
}

.input_container > input {
    border: none;
    border-bottom: 1px solid #D8D8D8;
    font-size: 16px;
    width: 40%;
}

.input_container > label {
	color: #D8D8D8;
}

.input_container > input:focus + label {
    /* targets the label when the input receives focus */
  	color: black;
}

.input_container > input:focus {
    /* targets the label when the input receives focus */
    border-bottom-color: black;
    outline: none;
    border-bottom-width: 2px;
}

.form_footer {
    margin-right:20px;
    margin-bottom:20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.form_footer * {
    font-size: 16px;
    font-weight: bold;
    margin-right:20px;
    border: none;
    background-color: transparent;
}


/*delete dialog*/
#delete_dialog {
    width: 25%;
    height: 20%;
    padding: 0;
}

#delete_dialog label {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 3em;
}

#delete_dialog label i {
    margin-right: 10px;
}

.delete_div {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.delete_div button {
    font-size: 17px;
    font-weight: bold;
    width: 50%;
    height: 35px;
    border: none;
    background-color: transparent;
}


/*footer*/
footer {
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
    width: 100%;
}

footer label {
    font-size: 15px;
}