/* 整體*/

.container {
    width: 100%;
    padding: 0;
    /*height: -webkit-calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: calc(100vh - 50px);*/
}

.wrapper {
    /*height: 100vh;
    margin: 0 auto;*/
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 65px);
}

h2 {
    border-left: 5px solid #001F3F;
    font-weight: bold;
    padding-left: 10px; /* 左邊間距 */
    padding-top: 2px; /* 上面間距 */
    padding-bottom: 2px; /* 下面間距 */
    margin: 0 auto;
    width: 80%;
}

.alert {
    margin-top: 20px;
}


/*random section*/
#random {
    margin:0 auto 5px auto;
    height: 20vh;
    width: 80%;
    border-radius: 4px;
    background: #fff;
}

#random_content {
    height: 100%;
    display: flex;
    align-items: center;
}

#random_content li {
    text-align: center;
    float: left;
    width: 20%;
    height: 100%;
    align-items: center;
    display: flex;
}

#random_content li p {
    width: 100%;
}

#random_content li:hover {
    background-color: #EEFEF3;
}


/*main section*/
#main {
    margin:0 auto;
    /*height: 75%;*/
    width: 80%;
    border-radius: 4px;
    background: #fff;
    border: solid 1px #ECECEC;
}

#iconBtnRow {
    display: flex;
    justify-content: space-between;
    background-color: #BFC0BF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.iconBtn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
}

.a_icon {
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*li content*/
#main_content li {
    float: left;
    margin: 10px;
}

.manga_content_item_div {
    border: 1px #eee solid;
    border-radius: 5px;
}

.item_delete {
	float: right;
    border-radius: 50%;
    background-color: white;
    border: none;
    box-shadow:2px 2px 3px 1px #cccccc;
    margin-top: -5px;
    margin-right: -5px;
    margin-bottom: 7px;
}

.item_name {
    overflow: hidden;
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item_modify {
    background-color: transparent;
    border: none;
}

.fas:hover {
    color: red;
}

.thumb_modify {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.item_thumb {
    background-color: transparent;
    border: none;
    padding-left: 0;
}
