h1 {
    display: flex;
    justify-content: center;
}

#user_content {
    margin: 0 auto;
    width: 80%;
}

.permission_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px;
    padding-top: 18px;
    padding-bottom: 10px;
}

#user_content li:hover {
    background-color: #EEFEF3;
}

.permission_field * {
    width: 20%;
    text-align: center;
}

#modify_permission_dialog {
    width: 50%;
    height: 30%;
    padding: 0;
}

#modify_permission_dialog_div {
    margin-top: 3em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

select {
    all: unset;
    border-bottom: 1px solid #D8D8D8;
    width: 40%;
}