#title {
    display: flex;
    justify-content: center;
}

/*ui content*/
#user_content {
    margin: 0 auto;
    width: 80%;
}

.role_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px;
    padding-top: 18px;
    padding-bottom: 10px;
}

#user_content li:hover {
    background-color: #EEFEF3;
}

.role_field * {
    width: 20%;
    text-align: center;
}

.func_btn {
    margin: 0 auto;
}


/*dialog content*/
.dialog_title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#modify_role_dialog {
    width: 25%;
    height: 35%;
    padding: 0;
}

.modify_role_dialog_cancel {
    float: right;
    margin-right: 10px;
}

#modify_role_dialog_div {
    margin-top: 3em;
}

.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 3em;
    width: auto;
}

select {
    all: unset;
    border-bottom: 1px solid #D8D8D8;
    width: 40%;
}

.input_container > select:focus + label {
    /* targets the label when the input receives focus */
  	color: black;
}

.input_container > select:focus {
    /* targets the label when the input receives focus */
    border-bottom-color: black;
    outline: none;
    border-bottom-width: 2px;
}


/*dialog content*/
.paginate {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
}