#title {
    display: flex;
    justify-content: center;
    font-size: 15pt;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}


/*去掉main.css裡對a的屬性*/
a {
    display: unset;
}


.main_content{
    height: 70%;
}


.search_content{
    display: flex;
    justify-content: space-between;
}


/*============ul content============*/
.ul_content {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

/*li content*/
.manga_content_item {
    float: left;
    margin: 10px;
}

.manga_content_item_div {
    border: 1px #eee solid;
    border-radius: 5px;
}

.item_delete {
	float: right;
    border-radius: 50%;
    background-color: white;
    border: none;
    box-shadow:2px 2px 3px 1px #cccccc;
    margin-top: -5px;
    margin-right: -5px;
    margin-bottom: 7px;
}

.item_name {
    overflow: hidden;
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item_modify {
    background-color: transparent;
    border: none;
}

.fas:hover {
    color: red;
}

.thumb_modify {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
/*==================================*/


/*頁碼*/
.paginate {
    font-family: sans-serif;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
}